<h1><%= @department.name %> - <%= @item.name %></h1>
<p><%= @item.price %></p>
<%= link_to 'Edit Topic', edit_department_item_path([@department, @item]) %>
<%= link_to 'Delete Topic', [@department, @item], method: :delete %>
<%= link_to 'Back To Topics', department_items_path(@department) %>
